.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #222;
  position: relative;
  height: 60px;
}

.navbar-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding-top: 0px;
}

.searchBar {
  flex: 1;
  justify-self: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1.5px solid lightgray;
  color: lightgray;
  width: clamp(250px, 30vw, 500px);
  height: clamp(0px, 4vh, 1000px);
  margin-top: 0px;
}

.searchBar:hover {
  border: 1.5px solid white;
}

.bar {
  width: 85%;
  font-size: 13px;
}

.bar:focus {
  outline: none;
  box-shadow: none;
}

.icon-search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.25vh 0.7vw 0.25vh 0.7vw;
  width: 1vw;
}

.navbar-icons {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.navbar-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.navbar-icon {
  width: 22px;
  height: 22px;
  margin-right: 25px;
  margin-left: 25px;
  filter: invert(100%);
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.navbar-icon:hover {
  transform: scale(1.1);
}

.navbar-text {
  font-size: 10px;
  color: white;
  margin-top: 5px;
}
